= render :partial => '/grid', :locals => {grid: controller.screen.grids.first}

#available_wrapper(style="height: 100%; width: 600px; display: inline-block;")
#action_btns
  = button_tag 'Add ❯❯', type: 'button', class: 'btn success', id: 'add_btn'
  = button_tag '❮❮ Remove', type: 'button', class: 'btn danger', id: 'remove_btn'
#unavailable_wrapper(style="height: 100%; width: 600px; display: inline-block;")

= hidden_field_tag 'current_role_id'

:javascript
  $(function(){
    var grid;
    grid = gridManager.getGrid('role');
    
    grid.onActiveCellChanged.subscribe(function(e, args) {
      var unavailableGrid, data;
      unavailableGrid = gridManager.getGrid('unavailable_permission');
      data = this.loader.data[args.row];
      $('#current_role_id').val(data.id);
      
      // Render availbale grid
      if (unavailableGrid && $('#grid_unavailable_permission:visible').size() > 0) {
        unavailableGrid.loader.setFilter([['role_id', data.id]]);
        unavailableGrid.onActiveCellChanged.subscribe(function(e, args){
          $('#action_btns #add_btn').attr('disabled', 'disabled');
          $('#action_btns #remove_btn').removeAttr('disabled');
        });
      } else {
        $.get('/permissions_roles?screen=PermissionsRoleScreen&unavailable=true&role_id=' + data.id, function(respond) {
          $('#unavailable_wrapper').html(respond);
          $('#grid_unavailable_permission .grid').css('background-color', 'white');
          $('#grid_unavailable_permission .grid-header h2').html('Existing permissions');

          unavailableGrid = gridManager.getGrid('unavailable_permission');
          ImportTools.resizeGrid(unavailableGrid);
          unavailableGrid.onActiveCellChanged.subscribe(function(e, args){
            $('#action_btns #add_btn').attr('disabled', 'disabled');
            $('#action_btns #remove_btn').removeAttr('disabled');
          });
        });
      }
      
      $('#action_btns').css('display', 'inline-block');
      
      // Render available premissions
      $.get('/permissions?screen=PermissionScreen&available=true&role_id=' + data.id, function(respond) {
        var availableGrid;
        $('#available_wrapper').html(respond);
        availableGrid = gridManager.getGrid('available_permission');
        ImportTools.resizeGrid(availableGrid);
        $('#grid_available_permission .grid').css('background-color', 'white');
        $('#grid_available_permission .grid-header h2').html('Available permissions');
        availableGrid.onActiveCellChanged.subscribe(function(e, args){
          $('#action_btns #add_btn').removeAttr('disabled');
          $('#action_btns #remove_btn').attr('disabled', 'disabled');
        });
      });
    });
    
    
    $('#action_btns').off('click', '#add_btn').on('click', '#add_btn', function() {
      btnHander('add');
    });
    
    $('#action_btns').off('click', '#remove_btn').on('click', '#remove_btn', function() {
      btnHander('remove');
    });
    
    function btnHander(type) {
      var ids, availableGrid, unavailableGrid, roleId = $('#current_role_id').val();
      availableGrid = gridManager.getGrid('available_permission');
      unavailableGrid = gridManager.getGrid('unavailable_permission');
      if (type == 'add') {
        ids = Ui.selectIds(availableGrid);
      } else if (type == 'remove') {
        ids = Ui.selectIds(unavailableGrid);
      }
      
      if (ids) {
        setupRequest(type, ids, roleId, availableGrid, unavailableGrid);
      }
    }
    
    function setupRequest(type, ids, roleId, availableGrid, unavailableGrid) {
      $('#action_btns button').attr('disabled', 'disabled');
      $.post("/roles/" + roleId + "/update_permission?type=" + type + '&ids=' + ids, function(data) {
        if(data == 'OK') {
          availableGrid.loader.reloadData();
          availableGrid.setSelectedRows([]);
          unavailableGrid.loader.reloadData();
          unavailableGrid.setSelectedRows([]);
          if (type == 'add') {
            displayNewNotification('Add permission success!');
          } else {
            displayNewNotification('Remove permission success!');
          }
        } else {
          displayErrorMessage(data);
        }
        
        $('#action_btns button').removeAttr('disabled');
      });
    }
    
  });