#action_btns {
  display: none;
  padding: 120px 10px 0;
  vertical-align: top;
  button {
    display: block;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    &.danger {
      margin-top: 10px;
    }
  }
}

.toolbar_icon_roles_user {
  background: image-url('user_role.png') no-repeat top center;
}

#delete_action_on_roles_user_in_master_user_detail_role, #delete_action_on_roles_user_in_master_role_detail_user {
  width: 85px;
}